.bottomButtons {
  position: fixed;
  bottom: 5vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.bottomButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.bottom__repeat {
  padding: 3px !important;
  color: #f5b748;
}
.bottom__close {
  padding: 3px !important;
  color: #ec5e6f;
}
.bottom__star {
  padding: 3px !important;
  color: #62b4f9;
}
.bottom__fav {
  padding: 3px !important;
  color: #76e2b3;
}
.bottom__lightning {
  padding: 3px !important;
  color: #915dd1;
}
