.sidebar{
	margin-top: 60px;
	padding-left: 0;
  height: 800px;
}
.sidebar a.nav-link{
	padding-left: 10px;
}
#main {
  margin-top: 30px;
  transition: margin-left .5s;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}