<div class="container-fluid">
  	<div class="row">
    	<nav class="col-auto d-none d-md-block bg-light sidebar">
          	<div class="sidebar-sticky">
            	<ul class="nav flex-column">
              		<li class="nav-item">
                		<a class="nav-link active" href="#">
                  		<span data-feather="edit"></span>
                  		Process Calculations<span class="sr-only">(current)</span>
                		</a>
		              	</li>
		            <li class="nav-item">
		                <a class="nav-link" href="#">
		                <span data-feather="codepen"></span>
		                Mechanical Calculations
		                </a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#">
		                <span data-feather="cpu"></span>
		                Unit Convertor
		                </a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#">
		                <span data-feather="layers"></span>
		                Steam Tables
		                </a>
		            </li>
            	</ul>
            </div>
        </nav>
        <div class="col">
        	<div id="main">
        		<div class="calculator1">
					<!-- <unit-convertor template="unit-convertor"></unit-convertor> -->
					<!-- <velocity-calc template="velocity-calc"></velocity-calc> -->
				</div>
        	</div>
        </div>
    </div>
</div>

