<div class="container-fluid">
  	<div class="row">
    	<nav class="col-auto d-sm-block bg-light sidebar">
          	<div class="sidebar-sticky">
            	<ul class="nav flex-column" id="sidebar-list">
              		<li class="nav-item">
                		<a class="nav-link active" href="#" onclick="velocityCalcView();">
                  		<i class="far fa-edit fa-lg"></i><span class="intext">Process Calculations</span><span class="sr-only">(current)</span></a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#" onclick="steamTurbineView();">
		                <i class="fa fa-cogs fa-lg"></i><span class="intext">Steam Turbine</span></a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#" onclick="steamFlashingView();">
		                <i class="fa fa-rss fa-lg"></i><span class="intext">Steam Flashing</span></a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#" onclick="safetyValveCalcView();">
		                <i class="fab fa-codepen fa-lg"></i><span class="intext">Mechanical Calculations</span></a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#" onclick="unitConvertorView();">
		                <i class="fas fa-microchip fa-lg"></i><span class="intext">Unit Convertor</span></a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#" onclick="steamTableView();">
		                <i class="fas fa-cloud fa-lg"></i><span class="intext">Steam Properties</span></a>
		            </li>
            	</ul>
            </div>
        </nav>
        <div class="col">
        	<div id="main">
        		<div class="calculator1">
					<!-- <unit-convertor template="unit-convertor"></unit-convertor> -->
					<!-- <velocity-calc template="velocity-calc"></velocity-calc> -->
				</div>
        	</div>
        </div>
    </div>
</div>

