<footer>
	<div class="container-fluid padding">
		<div class="row text-center padding">
			<div class="col-md-4" id="footer2">
				<hr class="light">
				<h5>Our HOD</h5>
				<hr class="light">
				<p>Mr.M N Tekchandani</p>
				<p>AGM,Tech Services</p>
				<p>mntekchandani@gnfc.in</p>
			</div>
			<div class="col-md-4">
				<a href="#navbar1">
					<img src="img\logo-image1.png" alt="GNFC" class="img-fluid bottom-logo">
				</a>
				<hr class="light">
				<p>Common Hall : 2931</p>
				<p>tsg@gnfc.in</p>
				<p>GM wing-top floor</p>
				<p>Bharuch,Gujarat-392015</p>
			</div>
			<div class="col-md-4" id="footer3">
				<hr class="light">
				<h5>Groups :</h5>
				<hr class="light">
				<p>Ammonia / Nitro Group</p>
				<p>IP Group</p>
				<p>TDI / Formic Group</p>
				<p>Urea Group</p>
			</div>
			<div class="col-12">
				<hr class="light-100">
				<h5>&copy; TJD</h5>
			</div>
		</div>
	</div>
</footer>