<div class="container-fluid">
  	<div class="row">
    	<nav class="col-auto d-none d-lg-block bg-light sidebar">
          	<div class="sidebar-sticky">
            	<ul class="nav flex-column">
              		<li class="nav-item">
                		<a class="nav-link active" href="#" onclick="velocityCalcView();">
                  		<i class="far fa-edit fa-lg"></i>
                  		Process Calculations<span class="sr-only">(current)</span>
                		</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#" onclick="steamTurbineView();">
		                <i class="fa fa-cogs fa-lg"></i>
		                Steam Turbine
		                </a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#" onclick="safetyValveCalcView();">
		                <i class="fab fa-codepen fa-lg"></i>
		                Mechanical Calculations
		                </a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#" onclick="unitConvertorView();">
		                <i class="fas fa-microchip fa-lg"></i>
		                Unit Convertor
		                </a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#" onclick="steamTableView();">
		                <i class="fas fa-cloud fa-lg"></i>
		                Steam Tables
		                </a>
		            </li>
            	</ul>
            </div>
        </nav>
        <div class="col">
        	<div id="main">
        		<div class="calculator1">
					<!-- <unit-convertor template="unit-convertor"></unit-convertor> -->
					<!-- <velocity-calc template="velocity-calc"></velocity-calc> -->
				</div>
        	</div>
        </div>
    </div>
</div>

