<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="..\css\bootstrap.min.css">
	<link rel="stylesheet" href="..\css\style.css">
	<link href="../fa/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="..\css\steam_turbine_style.css">
	<script src="..\js\jquery-3.5.1.slim.min.js"></script>
	<script src="..\js\popper.min.js"></script>
	<script src="..\js\bootstrap.min.js"></script>
	<script src="..\js\all.js"></script>
	<script src="..\js\unit-convertor.js"></script>
	<title>Steam Turbine</title>
</head>
<body> -->
	<div class="container bg-light" id="steam-turbine-template">
		<div class="row justify-content-center">
			<div class="col">
				<div class="display-4 text-center"><strong>Steam Turbine</strong></div>
				<div class="text-center mt-3">
					<div class="form-check form-check-inline">
					  	<input class="form-check-input" type="radio" name="powereff" id="PowerCalc" value="1" checked>
					  	<label class="form-check-label" for="PowerCalc">
					    Power/Efficiency Calculations
					  	</label>
					</div>
					<div class="form-check form-check-inline">
					  	<input class="form-check-input" type="radio" name="powereff" id="EffCalc" value="2">
					  	<label class="form-check-label" for="EffCalc">
					    Outlet conditons Calculations
					  </label>
					</div>
				</div>
			</div>
		</div>
		<form class="needs-validation" action="">
			<div class="form-row">
				<div class="col-9">
					<div class="input-group pb-2 pt-4">
						<div class="input-group-prepend">
							<label for="flow" class="input-group-text">Flow:</label>
						</div>
						<input type="text" class="form-control" id="flow" placeholder="Flow" required>
						<div class="input-group-append">
							<select class="form-control input-group-append" id="flow-select">
						        <option value="1">kg/hr</option>
						        <option value="2">kg/s</option>
						        <option value="3">lb/hr</option>
						        <option value="4">lb/min</option>
						    </select>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="mt-3 ">
						<label><strong>Inlet Condition:</strong></label>
						<div class="form-check form-check-inline">
						  	<input class="form-check-input" type="radio" name="supsat1" id="sup1" value="1" checked>
						  	<label class="form-check-label" for="sup1">
						    Superheated/Subcooled
						  </label>
						</div>
						<div class="form-check form-check-inline">
						  	<input class="form-check-input" type="radio" name="supsat1" id="sat1" value="2">
						  	<label class="form-check-label" for="sat1">
						    Saturated
						  	</label>
						</div>
					</div>
				</div>
				<div class="col-9">
					<div class="input-group pb-2 pt-2">
						<div class="input-group-prepend">
							<label for="intemprature" class="input-group-text">Inlet Temperature:</label>
						</div>
						<input type="text" class="form-control" id="intemprature" placeholder="Inlet Temperature" required>
						<div class="input-group-append">
							<select class="form-control input-group-append" id="in-temp-select">
						        <option value="1">°C</option>
						        <option value="2">K</option>
						        <option value="3">F</option>
						        <option value="4">R</option>
						    </select>
						</div>
					</div>
				</div>
				<div class="col-9">
					<div class="input-group pb-2 pt-2">
						<div class="input-group-prepend">
							<label for="inpressure" class="input-group-text">Inlet Pressure:</label>
						</div>
						<input type="text" class="form-control" id="inpressure" placeholder="Inlet Pressure" required>
						<div class="input-group-append">
							<select class="form-control input-group-append" id="in-press-select">
						        <option value=1>bar</option>
						        <option value=2>kg/cm2</option>
						        <option value=3>kPa</option>
						    </select>
						</div>
					</div>
				</div>
				<div class="col-3" id="p-input-group1">
					<div class="input-group-append">
						<select class="form-control mt-2" id="in-press-select1">
					        <option value=1>Absolute</option>
					        <option value=2>Guage</option>
					    </select>
					</div>
				</div>
				<div class="col-9 d-none" id="inVapFrac">
					<div class="input-group pb-2 pt-2">
						<div class="input-group-prepend">
							<label for="vapfrac1" class="input-group-text">Vapour Fraction:</label>
						</div>
						<input type="text" class="form-control" id="vapfrac1" placeholder="Vapour Fraction" value=1 required>
					</div>
					<small id="vapfracWarning1" class="form-text text-danger d-none">Please enter vapour fraction between 0-1.</small>
				</div>
				<div class="col-12" id="outcond">
					<div class="mt-3 ">
						<label><strong>Outlet Condition:</strong></label>
						<div class="form-check form-check-inline">
						  	<input class="form-check-input" type="radio" name="supsat2" id="sup2" value="1" checked>
						  	<label class="form-check-label" for="sup2">
						    Superheated/Subcooled
						  </label>
						</div>
						<div class="form-check form-check-inline">
						  	<input class="form-check-input" type="radio" name="supsat2" id="sat2" value="2">
						  	<label class="form-check-label" for="sat2">
						    Saturated
						  	</label>
						</div>
					</div>
				</div>
				<div class="col-12 d-none" id="outpresstemp">
					<div class="mt-3 ">
						<label><strong>Spacify Outlet:</strong></label>
						<div class="form-check form-check-inline">
						  	<input class="form-check-input" type="radio" name="presstemp" id="press2" value="1" checked>
						  	<label class="form-check-label" for="press2">
						    Pressure
						  </label>
						</div>
						<div class="form-check form-check-inline">
						  	<input class="form-check-input" type="radio" name="presstemp" id="temp2" value="2">
						  	<label class="form-check-label" for="temp2">
						    Temperature
						  	</label>
						</div>
					</div>
				</div>
				<div class="col-9" id='outlettemp'>
					<div class="input-group pb-2 pt-2">
						<div class="input-group-prepend">
							<label for="outtemprature" class="input-group-text">Outlet Temperature:</label>
						</div>
						<input type="text" class="form-control" id="outtemprature" placeholder="Outlet Temperature" required>
						<div class="input-group-append">
							<select class="form-control input-group-append" id="out-temp-select">
						        <option value="1">°C</option>
						        <option value="2">K</option>
						        <option value="3">F</option>
						        <option value="4">R</option>
						    </select>
						</div>
					</div>
				</div>
				<div class="col-9" id='outletpress'>
					<div class="input-group pb-2 pt-2">
						<div class="input-group-prepend">
							<label for="outpressure" class="input-group-text">Outlet Pressure:</label>
						</div>
						<input type="text" class="form-control" id="outpressure" placeholder="Outlet Pressure" required>
						<div class="input-group-append">
							<select class="form-control input-group-append" id="out-press-select">
						        <option value=1>bar</option>
						        <option value=2>kg/cm2</option>
						        <option value=3>kPa</option>
						    </select>
						</div>
					</div>
				</div>
				<div class="col-3" id="p-input-group2">
					<div class="input-group-append">
						<select class="form-control mt-2" id="out-press-select1">
					        <option value=1>Absolute</option>
					        <option value=2>Guage</option>
					    </select>
					</div>
				</div>
				<div class="col-9 d-none" id="outVapFrac">
					<div class="input-group pb-2 pt-2">
						<div class="input-group-prepend">
							<label for="vapfrac2" class="input-group-text">Vapour Fraction:</label>
						</div>
						<input type="text" class="form-control" id="vapfrac2" placeholder="Vapour Fraction" value=1 required>
					</div>
					<small id="vapfracWarning2" class="form-text text-danger d-none">Please enter vapour fraction between 0-1.</small>
				</div>
				<div class="col-9 d-none" id="eff">
					<div class="input-group pb-2 pt-2">
						<div class="input-group-prepend">
							<label for="efficiency" class="input-group-text">Efficiency:</label>
						</div>
						<input type="text" class="form-control" id="efficiency" placeholder="Efficiency">
						<div class="input-group-append">
							<label for="efficiency" class="input-group-text">%</label>
						</div>
					</div>
				</div>
				<div class="col-12 mt-2 mb-4">
					<button class="btn btn-primary" id="steam-table-submit" type="submit">Calculate</button>
				</div>
			</div>
		</form>
		<div class="form-group row pb-4 d-none" id="turbine-results">
		    <label for="calcEnthalpyIn" class="col-sm-4 col-form-label">Enthalpy In:</label>
		    <div class="col-sm-2">
		    	<input type="text" readonly class="form-control-plaintext" id="calcEnthalpyIn" value="-">
		    </div>
		    <label for="calcEnthalpyIn" class="col-sm-6 col-form-label">kJ/kg</label>
		    <label for="calcEnthalpyOut" class="col-sm-4 col-form-label">Enthalpy Out:</label>
		    <div class="col-sm-2">
		    	<input type="text" readonly class="form-control-plaintext" id="calcEnthalpyOut" value="-">
		    </div>
		    <label for="calcEnthalpyOut" class="col-sm-6 col-form-label">kJ/kg</label>
		    <label for="calcPower" class="col-sm-4 col-form-label">Power Generated:</label>
		    <div class="col-sm-2">
		    	<input type="text" readonly class="form-control-plaintext" id="calcPower" value="-">
		    </div>
		    <label for="calcPower" class="col-sm-6 col-form-label">kW</label>
		    <label for="isentrTemp" class="col-sm-4 col-form-label">Isentropic expansion Temp:</label>
		    <div class="col-sm-2">
		    	<input type="text" readonly class="form-control-plaintext" id="isentrTemp" value="-">
		    </div>
		    <label for="isentrTemp" class="col-sm-6 col-form-label">°C</label>
		    <label for="caclEff" class="col-sm-4 col-form-label">Efficiency:</label>
		    <div class="col-sm-2">
		    	<input type="text" readonly class="form-control-plaintext" id="caclEff" value="-">
		    </div>
		    <label for="caclEff" class="col-sm-6 col-form-label">%</label>
	    	<label for="outpress" class="col-sm-4 col-form-label">Out Pressure:</label>
		    <div class="col-sm-2">
		    	<input type="text" readonly class="form-control-plaintext" id="outpress" value="-">
		    </div>
		    <label for="outpress" class="col-sm-6 col-form-label">barA</label>
		    <label for="outtemp" class="col-sm-4 col-form-label">Out Temperature:</label>
		    <div class="col-sm-2">
		    	<input type="text" readonly class="form-control-plaintext" id="outtemp" value="-">
		    </div>
		    <label for="outtemp" class="col-sm-6 col-form-label">°C</label>
		    <label for="outfrac" class="col-sm-4 col-form-label">Out Vapour Fraction:</label>
		    <div class="col-sm-2">
		    	<input type="text" readonly class="form-control-plaintext" id="outfrac" value="-">
		    </div>
		    <label for="outfrac" class="col-sm-6 col-form-label">-</label>
		</div>
		<div class="text-danger pb-4 d-none" id="error">
			<p class="lead">There is no possible solution for given inputs. Please check the inputs.</p>
		</div>
	</div>
<!-- 	<script src="..\js\user-elements.js"></script>
	<script src="..\js\myScript.js"></script>
	<script src="..\js\myScript-calculators.js"></script>
	<script src="..\js\sidebar.js"></script>
	<script src="..\js\steam_turbine.js"></script>
	<script src="..\js\steam_table.js"></script>
	<script src="..\js\steam_table-ps.js"></script>
	<script src="..\js\steam_table-hs.js"></script>
	<script src="..\js\steam_table-pt.js"></script>
	<script src="..\js\steam_table-ph.js"></script>
</body>
</html> -->