<!-- heading -->
<div class="container-fluid "  id="about">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Meet the Team</h1>
		</div>
		<hr>
	</div>
</div>
<!-- cards -->
<div class="container-fluid text-center" id="team">
	<div class="row justify-content-between" id="scrollButtons">
		<div class="col-1">
			<a href="#" class="left-arrow">
				<button onclick="rightscroll()" class="btn btn-primary" id="left-button">
					<span class="icon1"></span>
				</button>
			</a>
		</div>
		<div class="col-1">
			<a href="#" class="right-arrow">
				<button onclick="leftscroll()" class="btn btn-primary" id="right-button">
					<span class="icon2"></span>
				</button>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="d-flex flex-row flex-nowrap overflow-hidden" id="team1">
			<user-card name="Hiren Parmar" template="team-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</user-card>
			<user-card name="Gaurang Khatri" template="team-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</user-card>
			<user-card name="Sanket Patel" template="team-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</user-card>
			<user-card name="Arpit Patel" template="team-card">Lorem ipsum dolor sit amet, consectetur adipisicing.</user-card>
			<user-card name="Nirav Patel" template="team-card">Lorem ipsum dolor sit amet.</user-card>
			<user-card name="Hooma Soni" template="team-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</user-card>
			<user-card name="Tanay Desai" template="team-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</user-card>
			<user-card name="Dhruti Mehta" template="team-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</user-card>
		</div>
	</div>
</div>